header {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

header .username {
	font-weight: bolder;
}

header .links {
	display: flex;
	gap: 0.5rem;
}

.add {
	display: flex;
	gap: 0.3rem;
}

.add input {
	padding: 0.2rem;
}

table {
	width: 100%;
}

table, th, td {
	padding: 0.5rem;
	border: 1.5px solid black;
	border-collapse: collapse;
	word-break: break-all;
}

@media (min-width: 1000px) {
	.container {
		width: 100%;
	}
}
